<div class="container">
    <div class="jumbotron">
        <h1>survive-js</h1>
        <div class="input-group">
            <input type="text" class="form-control" id="player-name" placeholder="Player Name...">
            <span class="input-group-btn">
                <button class="btn btn-default login" type="button">
                    Connect
                </button>
            </span>
        </div>
    </div>
</div>
<script>
$('.login').one('click', function () {
    survive.router.loadView('game');
    survive.playerData.name = $('#player-name').val();
});
</script>
